.post-tree {
  padding-left: 15px;
  padding-right: 15px;
}

.post {
  margin: 1em 0 0 0;
}

.post-tree-invisible {
  display: none;
}

.post-tree ul, li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.post-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  border-left: 2px solid #2b2a2a;
  border-top: 2px solid #2b2a2a;
  border-right: 2px solid #2b2a2a;
}

.dark-theme > .post-container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.dim-text {
  color: dimgrey;
}

.post-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-body {
  padding: 0 40px 0 0;
  line-height: 40px;
  white-space: pre-wrap;
}

.mat-tree {
  height: calc(100% - 64px);
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  margin: 5px 0 5px 0;
}
