p {
  font-family: Lato;
}



.image-cropper-container {
  //height: 100%;
}

.result-row {
  display: flex;
  flex-direction: row;
}

.result {
  //display: flex;
  //align-self: flex-start;
  //flex-grow: 1;
  //height: 100%;
  width: 100%;
}

.cropper-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  align-items: flex-start;
}

image-cropper {
  //display: flex;
  //height: 50vh;
  max-width: 95%;
}

.cropped-image-details-card {
  margin-bottom: 10px;
}

.result-image {
  //display: flex;
  //align-self: center;
  max-width: 100%;
  border: none;
}
