<div class="image-cropper-container">

  <mat-file-upload
    [labelText]="'Select an image to upload:'"
    [selectButtonText]="'Choose File'"
    [selectFilesButtonType]="'button'"
    [uploadButtonText]="'Upload'"
    [uploadButtonType]="'submit'"
    [allowMultipleFiles]="false"
    [showUploadButton]="false"
    [customSvgIcon]="'close_custom'"
    [acceptedTypes]="'.png, .jpg, .jpeg'"
    (change)="fileChangeEvent($event)"></mat-file-upload>

  <div class="cropper-row">
    <div class="image-cropper">
      <!--<mat-card>-->
      <button mat-icon-button (click)="rotateLeft()"><mat-icon>rotate_left</mat-icon></button>
      <button mat-icon-button (click)="rotateRight()"><mat-icon>rotate_right</mat-icon></button>
      <button mat-icon-button (click)="flipHorizontal()"><mat-icon>flip</mat-icon></button>
      <button mat-icon-button (click)="flipVertical()"><mat-icon style="transform: rotate(90deg)">flip</mat-icon></button>
      Tilt
      <mat-slider step="1" min="0" max="90" (change)="updateRotation()" [(ngModel)]="rotation"></mat-slider>
      Zoom
      <mat-slider step=".1" min="0" max="5" (change)="updateScale()" [(ngModel)]="scale"></mat-slider>

      <mat-slide-toggle
        (toggleChange)="toggleContainWithinAspectRatio()"
        [checked]="containWithinAspectRatio"
      ><mat-icon>aspect_ratio</mat-icon></mat-slide-toggle>

      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="1 / 1"
        [cropperMinWidth]="128"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        [canvasRotation]="canvasRotation"
        [transform]="transform"
        [alignImage]="'center'"
        [style.display]="showCropper ? null : 'none'"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"
        style="border: 1px black"
      ></image-cropper>
    </div>

    <mat-card class="cropped-image-details-card">
      <img [src]="croppedImage64" class="result-image" [style.border]="croppedImage ? '1px solid black' : 'none'" />
      <h3>Image Details:</h3>
      <table mat-table *ngIf="croppedImageDetails" [dataSource]="croppedImageDetails" style="width: 100%">
        <ng-container matColumnDef="property">
          <th mat-header-cell *matHeaderCellDef>Property</th>
          <td mat-cell *matCellDef="let prop">{{prop.key}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let prop">{{prop.value}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['property', 'value']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['property', 'value'];"></tr>
      </table>
    </mat-card>
  </div>
</div>
