<app-title-bar title="Threads">
  <div style="width: 100%; display: flex; flex-flow: row-reverse" *ngIf="authService.isLoggedIn() | async">
    <button mat-flat-button color="primary" [routerLink]="['/thread', 'compose']">New Thread</button>
  </div>
</app-title-bar>

<!-- Loading spinner -->
<mat-spinner *ngIf="!threads" style="margin: 0 auto;"></mat-spinner>

<mat-list *ngIf="threads">
  <mat-list-item matRipple [routerLink]="['/thread',thread._id]" *ngFor="let thread of threads">
    <mat-icon mat-list-icon>topic</mat-icon>
    <div class="thread-list-item-container">
      <div class="thread-list-item-details">
        <div mat-line><strong>{{thread.title}}</strong></div>
        <div mat-line>{{thread.created | date: 'MM/dd/YY'}} - {{thread.author.fullName}} ({{thread._id}})</div>
      </div>
      <div class="thread-list-item-menu">
        <button *ngIf="thread.author._id == (authService.getId() | async)" mat-icon-button [matMenuTriggerFor]="optionsMenus" (click)="$event.stopPropagation()" class="float-right"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #optionsMenus="matMenu">
          <button mat-menu-item (click)="deleteThread(thread)">
            <mat-icon>delete</mat-icon>Delete
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-list-item>
</mat-list>

<!-- For Compose Dialog -->
<router-outlet></router-outlet>
