.material-icons.color_white {color: #ffffff;}
.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

//if you want some css animation
.close-icon {
  transition: .5s ease-in-out;
}

.close-icon:hover {
  transform: rotate(90deg);
}

.compose-title, .compose-post {
  width: 100%;
}
